@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Space Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::selection {
  background: #33a8eb;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #384969;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#gallery {
  background: url('./Assets/Images/nebula.jpg') no-repeat center/cover;
  z-index: 2 !important;
}

#news {
  background: url('./Assets/Images/news.jpg') no-repeat center/cover;
  z-index: 2 !important;
}

#news:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

#gallery:hover,
#news:hover {
  opacity: 0.85;
  cursor: pointer;
}

#gallery:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

#aboutImg {
  background: url('./Assets/Images/aboutus.jpg') no-repeat center/cover;
  z-index: 2 !important;
}

#errorDiv {
  background: url('./Assets/Images/purple-nebula.png') no-repeat center/cover;
}
